<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Dressing App</title>

        <link href="assets/ionic-1.0.0-rc.5/release/css/ionic.min.css" rel="stylesheet">

        <!-- IF using Sass (run gulp sass first), then remove the CSS include above
        <link href="css/ionic.app.css" rel="stylesheet">
        -->
        <!-- ionic/angularjs js -->
        <script src="assets/ionic-1.0.0-rc.5/release/js/ionic.bundle.min.js"></script>
        <script src="assets/ionic-1.0.0-rc.5/release/js/angular/angular-resource.min.js"></script>
        <script src="assets/app/outfits/dependencies-module.js"></script>
        <script src="assets/app/outfits/outfits-module.js"></script>
        <script src="assets/app/outfits/items-module.js"></script>
        <script src="assets/app/app.js"></script>
    </head>

    <body ng-app="app">
        <ion-pane>
            <ion-nav-bar class="bar-royal">
                <ion-nav-back-button>
                </ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-pane>
    </body>
<script id="templates/tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-royal">

        <ion-tab title="Outfits" icon="ion-home" ui-sref="tabs.outfits">
            <ion-nav-view name="outfits-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Items" icon="ion-ios-information" ui-sref="tabs.items">
            <ion-nav-view name="items-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</script>

<script id="templates/items.html" type="text/ng-template">
    <ion-view view-title="Items">
        <ion-content class="padding">
            <p>
                <a class="button icon icon-right ion-chevron-right" ui-sref="tabs.items.create">Add new item</a>
            </p>
        </ion-content>
    </ion-view>
</script>

<script id="templates/items-create.html" type="text/ng-template">
    <ion-view view-title="Create item">
        <ion-content>
            <form name="itemForm" ng-submit="vm.create()">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Name</span>
                        <input type="text" ng-model="vm.item.name">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Type
                        </div>
                        <select ng-model="vm.item.type">
                            <option>Dress</option>
                            <option selected>Top</option>
                            <option>Skirt</option>
                            <option>Trousers</option>
                            <option>Trousers</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <textarea type="text" placeholder="Description" ng-model="vm.item.description"></textarea>
                    </label>
                    <label class="item item-input">
                        <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
                    </label>
                    <button class="button" type="submit">
                        Add item
                    </button>
                </div>
            </form>
        </ion-content>
    </ion-view>
</script>

<script id="templates/outfits.html" type="text/ng-template">
    <ion-view view-title="Outfits">
        <ion-content class="padding">
            <p>
                <a class="button icon icon-right ion-chevron-right" ui-sref="tabs.outfits.create">Choose today's outfit</a>
            </p>
        </ion-content>
    </ion-view>
</script>

<script id="templates/outfits-create.html" type="text/ng-template">
    <ion-view view-title="Create outfit">
        <ion-content>
            <button class="button button-full button-stable" on-tap="vm.openModal()">
                Dress
            </button>
            <button class="button button-full button-stable">
                Top
            </button>
            <button class="button button-full button-stable">
                Skirt
            </button>
            <button class="button button-full button-stable">
                Trousers
            </button>
        </ion-content>
    </ion-view>
</script>
<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">My Modal title</h1>
        </ion-header-bar>
        <ion-content>
            Hello!
        </ion-content>
    </ion-modal-view>
</script>
</html>